apiVersion: v1
kind: ConfigMap
metadata:
  name: caddy-config
  namespace: default
data:
  Caddyfile: |
    {
      email ${issuer_email}
    }
    
    ${domain_name} {
      reverse_proxy frontend:80
      handle_path /api* {
        reverse_proxy eg-api:80
      }
    }
