apiVersion: v1
kind: ConfigMap
metadata:
  name: caddy-config
  namespace: default
data:
  Caddyfile: |
    {
      # Posar el teu correu per a avisos de Let's Encrypt
      email ${issuer_email}
    }
    
    # Substitueix "example.com" pel teu domini
    ${domain_name} {
      reverse_proxy hello-world:80
    }
